/* NAVBAR STYLING */
.navbar.navbar-default.navbar-fixed-top{
    opacity: 0.7;
    background-color: white;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; 
}
/* NAVBAR STYLING */

/* BODY WRAPPER STYLING */
.content {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
/* BODY WRAPPER STYLING */